@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
  --color-bg: var(--bg);
  --color-text: var(--text);
  --color-primary-btn: var(--p-btn);
  --color-primary-btn-text: var(--p-btn-txt);
  --color-primary-btn-hover: var(--p-btn-hov);
  --color-secondary-btn: var(--s-btn);
  --color-secondary-btn-text: var(--s-btn-txt);
  --color-secondary-btn-hover: var(--s-btn-hov);
  --font-sans: var(--font-poppins);
}

:root {
  --bg: #ffffff;
  --text: #111827;
  --border: #e5e7eb;
  --p-btn: #111827;
  --p-btn-txt: #ffffff;
  --p-btn-hov: #1f2937;
  --s-btn: #f3f4f6;
  --s-btn-txt: #374151;
  --s-btn-hov: #e5e7eb;
}

[data-theme="dark"] {
  --bg: #09090b;
  --text: #f4f4f5;
  --border: #27272a;
  --p-btn: #3f3f46;
  --p-btn-txt: #ffffff;
  --p-btn-hov: #52525b;
  --s-btn: #18181b;
  --s-btn-txt: #a1a1aa;
  --s-btn-hov: #27272a;
}

@layer base {
  *, ::after, ::before {
    @apply transition-colors duration-300;
  }
  
  body {
    background-color: var(--bg);
    color: var(--text);
    font-family: var(--font-sans), system-ui, sans-serif;
  }
}